VITE_EMAILJS_SERVICE_ID=service_bu15vts
VITE_EMAILJS_TEMPLATE_ID=template_m39yvft
VITE_EMAILJS_PUBLIC_KEY=N1Xx4IMojtiSGgs8V
VITE_CONTACT_EMAIL=raushansharma74940@gmail.com
VITE_GITHUB_URL=https://github.com/raushan7964
VITE_LINKEDIN_URL=www.linkedin.com/in/raushan-kumar-147a47233
VITE_PHONENUMBER=7279897364

VITE_EMPLOYEE_DASHBORD_PROJECT_GITHUB_URL=https://github.com/raushan7964/employee-management-system-EMS
VITE_ECOMMERCE_PROJECT_GITHUB_URL=https://github.com/raushan7964/Ecommerce-react
VITE_PORTFOLIO_PROJECT_GITHUB_URL=https://github.com/raushan7964/portfolio
